.done {
  color: gray;
  text-decoration: line-through;
}
ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
li {
  padding-left: 5px;
  border-bottom: 1px solid white;
  text-align: left;
  height: 50px;
  width: 250px;
  line-height: 50px;
}
#add {
  position: relative;
  left: 47px;
}

#x {
  font-size: 20px;
  display: none;
  float: right;
  margin: 0;
  padding: 0;
  height: 50px;
  background: red;
  text-align: center;
  width: 0;
}
li:hover #x {
  display: inline-block;
  width: 50px;
}
li:hover {
  background: #62b773;
  border-bottom: 2px solid rgb(13, 140, 145);
}
input {
  padding: 5px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  background-color: #dac7c7;
  color: #62b773;
}
.fa.fa-minus-square-o:hover {
  background: rgb(204, 77, 77);
  margin: 0;
  padding: 0;
}
#shopiping-list {
  background: #dac7c7;
  margin: 100px auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}

h2 {
  background-color: #62b773;
  margin: 0;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(../img/001.jpg);
}

#shopiping-list:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}
#shopiping-list:before {
  font-size: 38px;
  position: relative;
  font-family: FontAwesome;
  content: "\f07a";
  top: 45px;
  left: -300px;
  transition: all 200ms ease;
  color: black;
}
#shopiping-list:hover:before {
  left: -100px;
}
* {
  list-style: none;
}

input:focus {
  background: white;
  border: 2px solid #62b773;
}
